.site-footer{
    background-color: #071021;

}
.site-title{
    color:white;
}

.site-footer h3 {
    color:white;
}
.social-links a{
    background-color: #112447;
}

.copyright p{
    color: #9fa3a7;
}